.header {
    background-color: rgb(23, 35, 58);
    color: aliceblue;
    padding: 3rem 2rem;
    text-shadow: 0 0 0.4rem rgb(174, 240, 254);

}

.header h1 {
    text-align: center;
    font-size: 4rem;
}

.section .post {
    background-color: #fff;
    margin: 2rem 0;
    padding: 0.25rem 0;
    border-radius: 0.5rem;
    transition: box-shadow 0.4s ease;

}

.section .post h2,
.section .post p {
    margin: 1rem;
}

.section article:hover {
    box-shadow: 0 0.1rem 0.5rem black;
    cursor: pointer;
}

.footer {
    background-color: rgb(23, 35, 58);
    color: #ffffff;
    padding: 2rem;
}

.footer section {
    float: right;
}

.footer p {
    margin: 0;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    color: #eb3f7b;
}