body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 100vh;
    margin: auto;
}

h3 {
    color: #6050ff;
    margin: 10px 0
}

.container {
    background-color: #eceefb;
    padding: 1rem;
    border-radius: 5px;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 2px;
    box-shadow: 0px 2px 10px 2px #ccc;
    outline: none;
}

input:focus {
    box-shadow: 0px 0px 10px 1px #d2ceff;

}

label {
    font-size: 0.8rem;
    font-weight: 700;
}


#div_btn {
    margin-top: 20px;
    text-align: center;
}

#btn {
    background-color: #6050ff;
    padding: 5px 0px;
    color: white;
    border-radius: 5px;
    width: 50%;
}

#btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px #544f96;
}